p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}
h1 {
    text-align: center;
}

#navbar-item {
    text-decoration: none;
}

.loginform {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
}
/* 
label {
    position:fixed;
    bottom: 10px;
} */