<!doctype html>
<html>
    <head>
        <link rel="styles" href="/static/styles.css">
        <title>{{ block "title" .}}{{ end }}</title>

    </head>
    <body>
        <div>
          <a class="navbar-item" href="/dashboard">Home</a>
          <a class="navbar-item" href="/login">Login</a>
          <a class="navbar-item" href="/profile">Profile</a>
          <a class="navbar-item" href="/logout">Logout</a>
        </div>
        <hr>
        {{ block "content" .}}{{ end }}
    </body>
</html>

<!-- {{ define "title"}}Default Title {{end}}
{{ define "content"}}Default Content {{ end}} -->